@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  /* background-color: #F6F3EE; */
  background-color: theme("colors.white.secondary");
}

.sidebar-expanded {
  width: calc(100% - 290px);
}
.sidebar-collapsed {
  width: calc(100% - 100px);
}


@media (max-width: 440px) {
  .sidebar-collapsed, .sidebar-expanded {
    width: 100%;
  }
}