.chatItem {
  @apply px-4 py-3 flex flex-col gap-3 cursor-pointer;
  &-pinType {
    @apply px-2 py-0.5 text-white-full w-fit
    text-sm;
    border-radius: 4px;
    &.color {
      &-green {
        background-color: theme("colors.pins.green.primary");
      }
      &-lightBlue {
        background-color: theme("colors.pins.lightBlue.primary");
      }
      &-yellow {
        background-color: theme("colors.pins.yellow.primary");
      }
      &-red {
        background-color: theme("colors.pins.red.primary");
      }
      &-black {
        background-color: theme("colors.pins.black.primary");
      }
      &-darkBlue {
        background-color: theme("colors.pins.darkBlue.primary");
      }
    }
  }
  &-content {
    @apply flex flex-row gap-2;
  }
}
