.hritem {
    @apply flex flex-col xs:flex-row justify-between items-center w-full
    rounded-md p-3 gap-6;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.25);
    max-width: 360px;

    &-map {
        @apply flex flex-col justify-center gap-2 items-center xs:items-start;
    }

    &-info {
        @apply flex flex-col-reverse xs:flex-col gap-3;
    }

    @media (min-width: 440px) {
        max-width: 520px;
    }
}