.pinInfo {
  @apply fixed left-0 top-0 z-50 h-full w-full flex justify-end;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);

  &-card {
    @apply h-screen w-full bg-white-full flex flex-col gap-8 justify-start 
        overflow-y-auto p-6;
    max-width: 500px;

    @media (min-width: 790px) {
      &.green {
        border-left: 5px solid theme("colors.pins.green.primary");
      }
      &.lightBlue {
        border-left: 5px solid theme("colors.pins.lightBlue.primary");
      }
      &.yellow {
        border-left: 5px solid theme("colors.pins.yellow.primary");
      }
      &.red {
        border-left: 5px solid theme("colors.pins.red.primary");
      }
      &.black {
        border-left: 5px solid theme("colors.pins.black.primary");
      }
      &.darkBlue {
        border-left: 5px solid theme("colors.pins.darkBlue.primary");
      }
    }

    &-header {
      @apply flex w-full justify-between items-center;
      & > span {
        @apply w-fit px-2 py-1 text-white-full rounded;

        &.color {
          &-green {
            background-color: theme("colors.pins.green.primary");
          }
          &-lightBlue {
            background-color: theme("colors.pins.lightBlue.primary");
          }
          &-yellow {
            background-color: theme("colors.pins.yellow.primary");
          }
          &-red {
            background-color: theme("colors.pins.red.primary");
          }
          &-black {
            background-color: theme("colors.pins.black.primary");
          }
          &-darkBlue {
            background-color: theme("colors.pins.darkBlue.primary");
          }
        }
      }
    }

    &-info {
      &-title {
        font-size: 32px;
      }
      &-description {
        @apply text-base mt-8;
      }
      &-addInfo {
        font-size: 32px;
        margin-bottom: 32px;
      }
    }

    &-contact {
      @apply flex flex-col gap-3;
      & > p {
        @apply flex gap-3;
      }
    }
  }
}

.subtitle {
  @apply text-lg underline mb-4;
}
