.checkbox-container {
    @apply flex justify-center items-center gap-2 w-fit;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    * {
      @apply transition-all;
    }
  
    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  
    span.checkmark {
      @apply flex border-[2px] h-5 w-5;
      border-color: theme('colors.green.primary');
      border-radius: 2px;
      background-color: white;
      padding: 3.5px;
    }
  
    &:hover input ~ span.checkmark {
      background-color: theme('colors.green.primary'); 
    }
  
    input:checked ~ span.checkmark {
      background-color: theme('colors.green.primary');
      border: none;
    }
  
    input:disabled ~ span.checkmark {
      cursor: auto;
      background-color: theme('colors.green.primary');
      border: none;
  
      & > svg path {
        background-color: theme('colors.black.primary'); 
      }
    }
  
    input:disabled ~ span.checkmark:after {
      content: "";
      display: flex;
      height: 100%;
      width: 100%;
      background: url("/check.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    input:checked ~ span.checkmark:after {
      content: "";
      display: flex;
      height: 100%;
      width: 100%;
      background: url("/check.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  